.fondo{
    background-color: lightblue;
}

.texto{
    color: black;
    text-align: center;
   
}

.titulo{
    font-style: italic;
}

.links{
    font-size: 26px;
}

.bio{
    font-size: 20px;
    text-align: center;
}