.fondo{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.texto{
    color: black;
    text-align: center;
   
}

.titulo{
    font-style: italic;
}

.links{
    font-size: 26px;
}

.bio{
    font-size: 20px;
    text-align: center;
}

.fuente{
    font-family: 'Akaya Telivigala', cursive;
    font-family: 'Architects Daughter', cursive;
    
}